# Datastructre

1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.

2. Explain the difference between mutable and immutable data types with examples?
-In programming, mutable and immutable refer to whether an object’s state or value can be changed after it is created.
- Mutable Data Types: These are data types whose value or state can be changed or modified after they have been created.
- Immutable Data Types: These are data types whose value or state cannot be changed once they have been created. Any operation that seems to modify an immutable object actually creates a new object with a new value.

3. What are the main differences between lists and tuples in Python?
- Mutability - Lists are mutable whereas tuples are not mutable.
- Syntax - list uses square brackets[] whereas tuple uses parentheses ().

4. Describe how dictionaries store data?
A dictionary consists of keys and values:
- Key: A unique identifier used to access a corresponding value.
- Value: The data associated with a key. A value can be of any data type, including another dictionary, list, or even a function.

5. Why might you use a set instead of a list in Python?
- 1. Elimination of Duplicates
- 2. Faster Membership Testing
- 3. Better Performance for Large Data

6. What is a string in Python, and how is it different from a list?
- In Python, a string is a sequence of characters enclosed in single quotes (') or double quotes ("). Strings are used to represent textual data and are a built-in data type in Python.
- A string is a sequence of characters. Each character in a string is of type str (string).A list is a collection that can hold elements of any data type (integers, strings, other lists, objects, etc.). Lists can store a combination of different types of data.
- String is immutable where as list is mutable.

7. How do tuples ensure data integrity in Python?
- 1. Immutability: Preventing Accidental Modification
- 2. Prevention of Accidental Data Loss or Corruption
- 3. Hashability and Use as Dictionary Keys
- 4. Reduced Risk of Side Effects in Functions

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table (also known as a hash map) is a data structure that is used to store key-value pairs. The key idea behind a hash table is to use a hash function to convert a key into an index or hash code where the corresponding value is stored. This allows for efficient lookup, insertion, and deletion of data.
- Keys are hashed: In a Python dictionary, the key is passed through a hash function. The hash value (or index) determines where the value is stored in the dictionary's underlying data structure (which is a hash table).
- Efficient Access
- Handling Collisions

9. Can lists contain different data types in Python?
List can contain contain different data types. Unlike other data structures in some programming languages that require elements to be of the same type, Python's lists are flexible and allow you to mix data types within a single list.

10. Explain why strings are immutable in Python?
- Memory Allocation: Immutable objects allow Python to make safe assumptions about how they are stored and used. Since strings are immutable, the memory that holds a string’s value can be optimized and reused in a way that wouldn't be possible with mutable objects.
- Memory Allocation: Immutable objects allow Python to make safe assumptions about how they are stored and used. Since strings are immutable, the memory that holds a string’s value can be optimized and reused in a way that wouldn't be possible with mutable objects.

11. What advantages do dictionaries offer over lists for certain task?
- Storing Key-Value Pairs (Mapping Data)
- Handling Uniqueness and Preventing Duplicates
- Efficient Membership Tests

12. Describe a scenario where using a tuple would be preferable over a list?
- Where the data is fixed, such as representing coordinates in a 2D grid, using a tuple provides clear advantages in terms of immutability, performance, and data integrity. The tuple ensures that the coordinates cannot be modified accidentally, offers better memory and processing efficiency, and can be used as a dictionary key, making it the preferred choice over a list in this case.

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates: If you try to add the same value to a set, it will ignore the duplicate.
- Unique elements: A set always contains only unique elements.
- Efficient: The set is a highly efficient data structure for checking the uniqueness of elements and performing set operations like union, intersection, and difference.

14. How does the “in” keyword work differently for lists and dictionaries?
- When the in keyword is used with a list, Python checks if the specified element exists anywhere in the list, and the check is done by linear search. This means Python will start at the beginning of the list and check each item until it finds the specified value or reaches the end of the list.
- When the in keyword is used with a dictionary, it checks if a key exists in the dictionary, not the value. Python internally checks for the presence of the key using a highly efficient hashing mechanism.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple after it has been created. This is because tuples in Python are immutable, meaning that once a tuple is created, its contents cannot be changed (i.e., you cannot add, remove, or change the elements of a tuple).

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the values themselves are dictionaries. Essentially, it's a dictionary within a dictionary. This allows for more complex, hierarchical data structures where you can store multiple levels of information in an organized way.

17. Describe the time complexity of accessing elements in a dictionary?
- Dictionaries in Python are optimized for fast lookups using hashing, with an average time complexity of O(1) for accessing elements. Although hash collisions can cause a worst-case scenario of O(n), this is unlikely due to Python’s efficient handling of collisions. In practical terms, dictionary lookups are extremely fast and generally constant in time.


18. In what situations are lists preferred over dictionaries?
- Use Case	Preferred Data Structure
- When order of elements matters:	List
- When you need a simple collection of items:	List
- When you need index-based access:	List
- When you need to allow duplicate elements	:List
- When you need to perform sequential operations or iteration:	List
- When fast key-based lookups are not needed	:List
- When you need list-specific methods like append(), insert(), sort():	List
- When storing homogeneous data:	List

 19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

 - Dictionaries were unordered because they were implemented using hash tables, which prioritize fast lookups over maintaining insertion order. This meant data retrieval was based on key access, and the order of items when iterating or printing could not be predicted.

 20. Explain the difference between a list and a dictionary in terms of data retrieval.

- Lists are ideal when you need to store a sequence of elements and retrieve them based on their position or index.

- Dictionaries are ideal when you need to retrieve values efficiently using a key and when you need to associate data in a key-value structure.

In [ ]:
# 1. Write a code to create a string with your name and print it?
name = input("Enter your name:")
print(name)

In [ ]:
#2. Write a code to find the length of the string "Hello World"?
string = "hello world"
print(len(string))

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Pyhton Programming"
print(string[0:3])

In [2]:
#4. Write a code to convert the string "hello" to uppercase?
string = "hello"
print(string.upper())

HELLO

In [3]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string = "I like apple"
print(string.replace("apple" , "orange"))

I like orange

In [4]:
#6. Write a code to create a list with numbers 1 to 5 and print it?
list_1 = []
for i in range(1,6):
  list_1.append(i)
print(list_1)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
list_1 = [1,2,3,4]
list_1.append(10)
print(list_1)

In [5]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list_1  = [1,2,3,4,5]
list_1.remove(3)
print(list_1)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list_1  = ['a', 'b', 'c','d']
print(list_1[1])

In [6]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list_1 = [10,20,30,40,50]
print(list_1[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple_1 = (100, 200, 300)
print(tuple_1)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_1  =('red', 'green', 'blue', 'yellow')
print(tuple_1[-2])

In [10]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple_1  = (10, 20, 5, 15)
print(min(tuple_1))

5

In [11]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_1 =  ('dog', 'cat', 'rabbit')
print(tuple_1.index("cat"))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple_1 = ("Apple" , "kiwi" , "banana")
if "kiwi" in tuple_1:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_1 = {'a','b', 'c'}
print(set_1)

In [12]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set_1  = {1, 2, 3, 4, 5}
set_1.clear()
print(set_1)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set_1 ={1, 2, 3, 4}
set_1.remove(4)
print(set_1)

In [13]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
print(set_1.union(set_2))

{1, 2, 3, 4, 5}

In [14]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
print(set_1.intersection(set_2))

{2, 3}

In [15]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_1 = {"name":"saransh" , "age": "23" , "city":"delhi"}
print(dict_1)

{'name': 'saransh', 'age': '23', 'city': 'delhi'}

In [16]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict_1  = {'name': 'John', 'age': 25}
dict_1["country"] = "USA"
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict_1 =  {'name': 'Alice', 'age': 30}
print(dict_1["name"])

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_1 ={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_1.pop("age")
print(dict_1)

In [17]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_1  ={'name': 'Alice', 'city': 'Paris'}
if "city" in dict_1:
  print("City exists in dictionary")
else:
  print("City does not exists in dictionary")

City exists in dictionary

In [18]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list_1 = [1,2,3,5]
tuple_1  = (7,8,9,67)
dictionary  = {"name":"saransh" , "age":23}
print(list_1)
print(tuple_1)
print(dictionary)

[1, 2, 3, 5]
(7, 8, 9, 67)
{'name': 'saransh', 'age': 23}

In [20]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
list_1 = []
for i in range(5):
  list_1.append(random.randint(1,100))
list_1.sort()
print(list_1)

[16, 29, 29, 77, 94]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
str_1  = ["Python" , "Java","R", "C++"]
print(str_1[2])

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict_1 = {"name":"saransh" , "age":23}
dict_2 = {"city":"delhi" , "country":"India"}
dict_1.update(dict_2)
print(dict_1)

In [21]:
# 30. Write a code to convert a list of strings into a set.
list_1  = ["Pyhton", "Java","R","C++"]
print(set(list_1))

{'Pyhton', 'R', 'Java', 'C++'}